@CHARSET "UTF-8";

body,table,form,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,a,p,img{
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 140%;
	color: #222222;
	font-family: 'メイリオ', 'ＭＳ Ｐゴシック', 'MS UI Gothic', Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}

body{
	text-align: center;
}

a{
	color: #050055;
	text-decoration: none;
	outline: none;
}

a:hover{
	color: #5931f6;
	text-decoration: underline;
}

input, select, button{
	color: #333333;
	font-size: 12px;
	font-family: 'メイリオ', 'ＭＳ Ｐゴシック', 'MS UI Gothic', Arial, sans-serif;
}

textarea{
	color: #333333;
	font-size: 12px;
	font-family: 'メイリオ', 'ＭＳ Ｐゴシック', 'MS UI Gothic', Arial, sans-serif;
}


p{
	text-align: left;
}

li{
	list-style: none;
}










