div.desc
{
	font-size: 115%;
	padding-right: 1.1em;
}

div.desc span.heading
{
	font-weight: bold;
	font-size: large;
}

div.desc h2
{
	color: White;
	padding: 0.8em 1.3em;
	font-size: large;
}

div.desc h3
{
	color: Black;
	border-left: thick solid;
	border-bottom: thin solid Gray;
	padding: 0.5em 1em;
	font-size: large;
}

div.desc div.image
{
	clear: both;
	text-align: center;
}

div.desc div.image div
{
	font-weight: bold;
	margin-top: 0.5em;
}

div.desc div.link
{
	clear: both;
	text-align: center;
	padding: 1em;
	border: medium solid;
}

div.desc div.link a
{
	font-size: large;
}

div.desc div.message
{
	margin: 0 auto;
	background-image: url('https://sites.google.com/site/peakystrage/messages/fx-on/Message1.png');
	background-repeat: no-repeat;
}
